{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  {% endblock %}
  <link rel="icon" href="{{ STATIC_PREFIX }}img/favicon.png" type="image/png">

  <link rel="stylesheet" href="{{ STATIC_PREFIX }}styles.min.css">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>